@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: white;
}

body.dark {
    background: black;
    color: white;
}

.background {
    height: 100vh;
    margin: 0;
    background-color: #38182F;
}

h1, h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #BBB;
}

.dark h2 {
    color: #666;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

h3.written-in-ink {
    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    position: fixed;
    display: block;
    width: 100%;
    background: white;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
}

.dark h3.written-in-ink {
    background: black;
}


/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    display: block;
    margin: 50px auto;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    max-width: 80%;

}

.container {
    display: block;
    height: initial !important;
    margin: 0 auto 50px auto;
    padding: 4em 0;
    text-align: center;
    border: 3px solid #998DA0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #998DA0;
    background-image: url("./assets/img/closeup-photo-of-purple-gemstones-1121123.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container p {
    background-color: rgba(22, 39, 31, 0.8);
    width: 80%;
    margin: 0 auto;
    min-height: 200px;
    padding: 10px;
    text-align: center;
    border: 1px solid #E8DDB5;
}

.dark .container {
    background: black;
}

p {
    font-size: 16pt;
    line-height: 1.7em;
    color: #E8DDB5;
}

a {
    font-weight: 700;
    color: #E8DDB5;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

.dark a {
    color: #cc8f1a;
    transition: color 0.6s;
}


a:hover {
    color: white;
    transition: color 0.1s;
}

.dark a:hover {
    color: white;
}

strong {
    color: black;
    font-weight: bold;
}

.dark strong {
    color: white;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.choice {
    text-align: center;
    line-height: 1.7em;
    padding: 10px;
    border: 1px solid #E8DDB5;
    box-shadow: 0px 0px 10px #E8DDB5;
    background-color: #247BA0;
    margin: 20px auto;
}

/* first choice */
:not(.choice) + .choice {
    padding-top: 1em; 
}


p.choice a {
    font-size: 15pt;
}

/* Built in class if you want to write:
     The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark .end {
    color: white;
}